@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: 70px;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  z-index: 10;
}

nav h1 {
  font-size: 35px;
}

nav span {
  color: #b10808;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 58%;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: menuOpen 0.5s;
          animation: menuOpen 0.5s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .menu-btn {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 30px;
  position: fixed;
  display: none;
}

nav .subscribe-btn button {
  color: white;
  background: #dd0101;
  padding: 0.5rem 1rem;
  font-size: 17px;
  border: none;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 6rem;
}

nav .subscribe-btn button:hover {
  color: #2c2a2a;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 850px) {
  nav {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  nav h1 {
    margin-left: 3rem;
  }
  nav .menu-btn {
    position: -webkit-sticky;
    position: sticky;
    right: 5%;
  }
  .links {
    display: none !important;
  }
  .subscribe-btn button {
    display: none !important;
  }
  .subscribe-btn-open {
    display: inline;
    z-index: 2;
    right: 6%;
    bottom: 75%;
  }
  .subscribe-btn-open button {
    color: white;
    background: #dd0101;
    padding: 0.5rem 1rem;
    font-size: 17px;
    border: none;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .subscribe-btn-open button:hover {
    color: #2c2a2a;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .links-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    inset: 0;
    width: 100% !important;
    z-index: 1;
    position: fixed !important;
    height: 24rem !important;
    background-color: black;
    -webkit-animation: menuOpen 0.5s;
            animation: menuOpen 0.5s;
    -webkit-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
  }
  .links-open li {
    list-style: none;
  }
  .links-open li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .links-open li a:hover {
    color: red;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  @-webkit-keyframes menuOpen {
    from {
      margin-left: 100%;
      opacity: 0;
    }
    to {
      margin-left: 0;
      opacity: 1;
    }
  }
  @keyframes menuOpen {
    from {
      margin-left: 100%;
      opacity: 0;
    }
    to {
      margin-left: 0;
      opacity: 1;
    }
  }
  .menu-btn {
    display: inline !important;
    z-index: 2;
  }
}
/*# sourceMappingURL=Navbar.css.map */